p {
    color:deepskyblue;
    font-family: Georgia;
    font-style: italic;
}
ol {
    color: dimgray;    
}
li {
    text-align: start;
    color: snow;
    font-weight: normal;
}
a {
    color: royalblue;
    text-align: end;
}
h1 {
    color: saddlebrown;
    font-family: Times;
}
